* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:3px;
  margin: 10px auto;
}

p {
  display: block;
  width: 4px;
  margin: 20px auto;
  font: 50px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
